%div.container
  %div.row
    %div.col-md-4
      %h1 HappyWeek
    %div.col-md-8
      = "Deals for " + @day + " at " + @time
      -if @deals.first
        - @deals.each do |deal|
          %div
            %div=deal.name + ' @ ' + deal.venue.name
            %p
              -deal.items.each do |deal|
                =deal.summary
      -else
        No deals at this time!